.button{
    display: flex;
    justify-content: center;
    gap: 0.5rem;
    padding: 1rem 1rem;
    border: none;
    width: 250px;
    font-size: 1.2rem;
    text-decoration: none;
    border-radius: 5px;
    background-color: #ccc;
    color: black;
    cursor: pointer;
    opacity: .8;
    transition: .3s;
}

#login-btn:hover,
#register-btn:hover{
    opacity: 1;
    transform: translateY(-2px);
}